/* Import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
html, body{
    width: 100%;
    height: 100%;
}
*{
    font-family: 'Josefin Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #4d455d;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
/* .card:hover{
    filter: opacity(0.7);
    transition: 500ms;
} */
.container {
    margin-top: 10%;
}
.top{
    width: 100%;    
    height: 10%;
    background: #000;
    color: #fff;
    position:fixed;
    top:0;
    text-align: center;
    transform: translateY(0%);
    transition: 500ms; 
    padding-top: 10px; 
}
.top-block{
    transform: translateY(-100%);
}
.side-bar {
    transition-delay: 500ms;
    position: fixed;
    filter: opacity(0.95);
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    transform: translate(-100%);
    transition: 500ms;
    transition-delay: 500ms;
}
.side-icons{
    display: flex;
    justify-content: space-around;
    margin: 25px 30px;
    font-size: 20px;
}
.side-list{
    margin: 2rem 0;
}
.my-profile {
    padding: 3rem 0;
}
.li{
    transition: 400ms;
    pointer-events:none ;
}
.li:hover {
    transform: scaleY(1.2);
}
.list-1{
    transition: 400ms;
    font-size: 1.2rem;
    padding: 0 2rem;
    pointer-events: auto;
    word-spacing: 0.2rem;
    line-height: 3rem;
}
.avi {
    display: flex;
    justify-content: center;
}
.avi-caption{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.hover-success:hover{
    color: green;
}
.hover-gold:hover{
    color: gold;
    transition: 500ms;
}
.profile-pic{
    height: 120px;
    width: 120px;
    border: 8px solid green;
    border-radius: 50%;
    padding: 8px;
}
.toggle{
    transform: translate(0%);
}
/* Buttons */
.togglebtn{
    position: fixed;
    top: 1%;
    right: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    transition: 500ms;
    color: #fff;
    background: transparent;
}
.togglebtn:hover{
    animation: bounce 800ms infinite ease-in-out;
}
.closebtn{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    color: #fff;
    background: transparent;
    transition: 600ms;
}
.closebtn:hover{
    transform: rotate(360deg);
}
.fade-in {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-in-out;
}
.fade-in.active {
    opacity: 1;
    transform: translateX(0px);
}
.btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btns a {
    border: 1.5px solid #4d455d;
    width: 50%;
    padding: 10px;
    text-align: center;
}
  
@keyframes bounce {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
@media (max-width: 1024px) {
    .side-bar {
        width: 30%;
    }
}
@media (max-width:768px) {
    .side-bar {
        width: 37.5%;
    }
}
@media(max-width:540px) {
    .side-bar{
        width: 70%;
        
    }
    .top{
        text-align: left;
    }
}